html, body {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    width: 1440px;
    height: auto;
    background-color: #E8E8E8;
    font-family: Inter;
}
.main-content {
    width: 1440px;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    height: 145px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    width: 100px;
    height: 145px;
    margin-left: 122px;
}
.header_content {
    width: 608px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 122px;
}
.header_btns {
    width: 471px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header_btn-auth {
    width: 139px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: transparent;
    transition: all 0.3s ease;
}
.header_btn-auth:hover {
    transform: scale(0.95);
}
.header_sep {
    background-color: #000;
    height: 50px;
    width: 1px;
}
.header_btn-reg {
    width: 272px;
    height: 40px;
    background-color: #FF9920;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: all 0.3s ease;
}
.header_btn-reg:hover {
    transform: scale(0.95);
    background-color: #E58A1E;
}













body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: transparent;
}
  
body::-webkit-scrollbar-thumb {
    background: #393781;
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb:hover {
    background: #09092D;
}