body {
    margin: 0px;
    padding: 0px;
    width: 1440px;
    height: 669px;
    background-color: #E8E8E8;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reg-content {
    width: 1104px;
    height: 609px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reg-content_logo {
    width: 100px;
    height: 145px;
    margin-top: 30px;
}
.reg-content_title {
    margin-top: 50px;
    font-size: 50px;
    line-height: 0px;
}
.reg-content_registration-form {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    width: 744px;
    height: auto;
    align-items: center;
}
.reg-content_registration-form_input {
    width: 744px;
    height: 53px;
    border-radius: 10px;
    background-color: #D2D2D2;
    margin: 15px 0px;
    padding: 0px 10px;
    border-width: 0px;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25),
                inset -1px -1px 4px rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease;
}
.reg-content_registration-form_input:hover {
    background-color: #C0C0C0;
}
.reg-content_registration-form_input:focus {
    outline: none;
    background-color: #C0C0C0;
}
.reg-content_error {
    margin-top: 10px;
    font-size: 19px;
}
.reg-content_btn-registration {
    margin-top: 25px;
    width: 272px;
    height: 40px;
    background-color: #FF9920;
    border-radius: 10px;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}
.reg-content_btn-registration:hover {
    transform: scale(0.95);
    background-color: #E58A1E;
}
.reg-content_btn-auth {
    margin-top: 20px;
    width: 139px;
    height: 40px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.reg-content_btn-auth:hover {
    transform: scale(0.95);
}