<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>АкциоГид</title>
        <link rel="stylesheet" href="../../static/main/css/account.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            <header class="header">
                <img src="../../static/main/img/logo.svg" alt="" class="header_logo">
                <div class="header_content">
                    <div class="header_links">
                        <p>Каталог</p>
                    </div>
                    <div class="header_btns">
                        <a href="/auth" style="text-decoration: none;">
                            <div class="header_btn-auth">Войти</div>
                        </a>
                        <div class="header_sep"></div>
                        <a href="/registration" style="text-decoration: none;">
                            <div class="header_btn-reg">Зарегистрироваться</div>
                        </a>
                    </div>
                </div>
            </header>
            
        </div>
    </body>
</html>
