<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>АкциоГид</title>
        <link rel="stylesheet" href="../../static/main/css/auth.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="auth-content">
            <img src="../../static/main/img/logo.svg" alt="logo" class="auth-content_logo">
            <p class="auth-content_title">АкциоГид</p>
            <form method="post" class="auth-content_registration-form" action="auth">
                {% csrf_token %}
                <div class="auth-content_registration-form_inputs">
                    <input type="text" class="auth-content_registration-form_input" placeholder="Логин" name="login">
                    <input type="password" class="auth-content_registration-form_input" placeholder="Пароль" name="password">
                </div>
                <p class="auth-content_error">{{ text }}</p>
                <button class="auth-content_btn-auth" type="submit" name="auth">Войти</button>
            </form>
        </div>
    </body>
</html>
