<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>АкциоГид</title>
        <link rel="stylesheet" href="../../static/main/css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../../static/main/js/index.js"></script>
    </head>
    <body>
        <div class="main-content">
            <header class="header">
                <img src="../../static/main/img/logo.svg" alt="" class="header_logo">
                <div class="header_content">
                    <div class="header_links">
                        <p class="header_links_catalog">Каталог</p>
                    </div>
                    <div class="header_btns">
                        <a href="/account" style="text-decoration: none;">
                            <div class="header_content_account">Личный кабинет</div>
                        </a>
                        <a href="" style="text-decoration: none;">
                            <div class="header_btns_exit-account">Выйты с аккаунта</div>
                        </a>
                    </div>
                </div>
            </header>
            <div class="main-content_news">
                <p class="main-content_news_title">АкциоГид</p>
                <p class="main-content_news_description">АкциоГид - сайт, который собирает акции на товары в различных магазинах. 
                    Мы помогаем экономить и получать свежую информацию о ценах</p>
            </div>
            <div class="main-content_catalog">
                <div class="main-content_catalog_all-filters1">
                    <div class="main-content_catalog_filters1"><p>Фильтры магазинов</p> <img src="../../static/main/img/arrow.svg" alt="arrow" class="main-content_catalog_filters_arrow"></div>
                </div>
                <div class="main-content_catalog_filters-hidden1">
                    <button>Ашан</button>
                    <button>Метро</button>
                    <button>Ценник</button>
                    <button>Корзина</button>
                    <button>МагазинЧИК</button>
                    <button>ПУД</button>
                    <button>Доброцен</button>
                    <button>ФРЕШ маркет</button>
                    <button>Мега Яблоко</button>
                    <button>Яблоко</button>
                    <button>Продторгъ</button>
                    <button>Народный Амбар</button>
                    <button>Чистый Дом</button>
                    <button>OrangeEVA</button>
                </div>
                <div class="main-content_catalog_all-filters2">
                    <div class="main-content_catalog_filters2"><p>Фильтры типов продуктов</p> <img src="../../static/main/img/arrow.svg" alt="arrow" class="main-content_catalog_filters_arrow"></div>
                </div>
                <div class="main-content_catalog_filters-hidden2">
                    <button>Молочные продукты</button>
                    <button>Порошки и стирка</button>
                    <button>Корма</button>
                    <button>Кофе</button>
                    <button>Мясная продукция</button>
                    <button>Бытовые товары</button>
                    <button>Сладости</button>
                    <button>Продукты для стирки</button>
                    <button>Алкоголь</button>
                </div>
                {% block content %}
                <div class="main-content_catalog-cards">
                    {% for days, image, name, shops, type in combined_data %}
                    <div class="main-content_catalog-cards_card">
                        <img src="{{ image }}" alt="image" class="main-content_catalog-cards_card_img">
                        <p id="shop">Магазин: {{ shops }}</p>
                        <p id="type">Тип продукта: {{ type }}</p>
                        <p>{{ name }}</p>
                        <p>{{ days }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endblock %}
            </div>
            <div class="main-content_btn-continuation"></div>
        </div>
        <div class="overlay">
            <div class="popup">
                <div class="popup_img">
                    <img src="" alt="">
                </div>
                <div class="popup_info">
                    <p class="popup_info_title">{{ title }}</p>
                    <p class="popup_info_datetime">{{ datetime }}</p>
                    <p class="popup_info_shop">{{ shop }}</p>
                </div>
            </div>
        </div>
    </body>
</html>
