<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>АкциоГид</title>
        <link rel="stylesheet" href="../../static/main/css/postponed.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../../static/main/js/postponed.js"></script>
    </head>
    <body id="body">
        <div class="main-content">
            <header class="header">
                <img src="../../static/main/img/logo.svg" alt="" class="header_logo">
                <div class="header_content">
                    <div class="header_links">
                        <a href="/" style="text-decoration: none;">
                            <p class="header_links_catalog">Каталог</p>
                        </a>
                    </div>
                    <div class="header_btns">
                        <div class="header_content_account">Личный кабинет</div>
                        <a href="/" style="text-decoration: none;">
                            <div class="header_btns_exit-account">Выйты с аккаунта</div>
                        </a>
                    </div>
                </div>
            </header>
            <div class="main-content_account-content">
                <div class="main-content_account-content_data">
                    <p class="main-content_account-content_data_title">Ваши данные</p>
                    <div class="main-content_account-content_data_personal_information">
                        <p>Логин: {{ login }}</p>
                        <p>Пароль: {{ password }}</p>
                    </div>
                    <div class="main-content_account-content_data_navigation">
                        <p class="main-content_account-content_data_navigation_title">Страницы</p>
                        <a href="/account" style="text-decoration: none;">
                            <p class="main-content_account-content_data_navigation_notifications" id="notifications">Уведомления</p>
                        </a>
                        <p class="main-content_account-content_data_navigation_postponed" id="postponed">Отложенные товары</p>
                    </div>
                </div>
                <div class="main-content_account-content_sep"></div>
                <div class="main-content_account-content_catalog">
                    <div class="main-content_account-content_catalog-cards">
                        <div class="main-content_account-content_catalog-cards_row">
                            <div class="main-content_account-content_catalog-cards_row_card"> <p>{{ text }}</p></div>
                            <div class="main-content_account-content_catalog-cards_row_card">{{ text }}</div>
                            <div class="main-content_account-content_catalog-cards_row_card">{{ text }}</div>
                        </div>
                        <div class="main-content_account-content_catalog-cards_row">
                            <div class="main-content_account-content_catalog-cards_row_card">{{ text }}</div>
                            <div class="main-content_account-content_catalog-cards_row_card">{{ text }}</div>
                            <div class="main-content_account-content_catalog-cards_row_card">{{ text }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
